
/*
Cores 

Verde Escuro :#055902
Verde Claro :#078C31
Amarelo: #F2B705
Vermelho escuro:#D90404
vermelho Claro:#F03733
Cinza Claro:#f7f7f7
cinza escuro: #404040
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 95%;
  height: 200px;
  background: #F2B705;
  margin: 10px auto;
}

div#logo {
  float: left;
  background-image: url(../_imagens/secao08-logo-pizzaria-fontenelle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

ul#esquerda {
  float: left;
}

ul#direita {
  float: right;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 70px;
  height:40px;
}

nav ul li {
  list-style: none;

}
nav ul li a#criar-conta {
  border: 1px solid #fff;
  padding:9px 29px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 30px ;
  border-radius: 70px;
  font-size: 80%;
}

nav ul li a:hover{
  background-color: darkgreen;

  transition-duration: 0.8s;
}

nav ion-icon#icone-user {
  width: 45px;
  height: 45px;
  color: white;
  margin-top: -13px;
  margin-left: 20px;
}

nav ion-icon#icone-user:hover {
  color: darkgreen;
  cursor: pointer;
  
}