
/*
Cores 

Verde Escuro :#055902
Verde Claro :#078C31
Amarelo: #F2B705
Vermelho escuro:#D90404
vermelho Claro:#F03733
Cinza Claro:#f7f7f7
cinza escuro: #404040
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 200px;
  background: #F2B705;
}

div#logo {
  float: left;
  background-image: url(../_imagens/secao08-logo-pizzaria-fontenelle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

ul#esquerda {
  float: left;
}

ul#direita {
  float: right;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 70px;
  height:40px;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 30px ;
  border-radius: 70px;
}

nav ul li a:hover{
  background-color: darkgreen;

  transition-duration: 0.8s;
}