div#teste {
  background-color: aqua;
  position: fixed;
  top:0; left:0;
  width: 300px;
  height: 60px;
  z-index:10;
  color:#000;


}
/*
Cores 

Verde Escuro :#055902
Verde Claro :#078C31
Amarelo: #F2B705
Vermelho escuro:#D90404
vermelho Claro:#F03733
Cinza Claro:#f7f7f7
cinza escuro: #404040
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)), url(../_imagens//secao08-background-capa.jpg);
  background-size: cover;
  background-position: center center;

  width:100%;
  height: 100vh;

  border-top: 5px solid #078C31 ;
  clip-path: polygon(0 0, 100% 0, 100% 97%,0 100%);
  position: relative;
}

nav {
  width: 95%;
  height: 200px;
    margin: 10px auto;
}

div#logo {
  float: left;
  background-image: url(../_imagens/secao08-logo-pizzaria-fontenelle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

ul#esquerda {
  float: left;
}

ul#direita {
  float: right;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 70px;
  height:40px;
}

nav ul li {
  list-style: none;

}
nav ul li a#criar-conta {
  border: 1px solid #fff;
  padding:9px 29px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 30px ;
  border-radius: 70px;
  font-size: 80%;
}

nav ul li a:hover{
  background-color: darkgreen;

  transition-duration: 0.8s;
}

nav ion-icon#icone-user {
  width: 45px;
  height: 45px;
  color: white;
  margin-top: -13px;
  margin-left: 20px;
}

nav ion-icon#icone-user:hover {
  color: darkgreen;
  transition-duration: 0.8s;
  cursor: pointer;
  
}

header div#chamada {
  position:absolute;
  width: 100%;
  height: 300px;
  text-align: center;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/* ------------------------*/
/*Seção - DOMINGO PERFEITO */
/* ------------------------*/

section#domingo-perfeito {
  width:100%;
  padding: 40px 0  80px;
  height: 80vh;

  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div#domingo-perfeito-esquerda, div#domingo-perfeito-direita {
  position: relative;
  width: 15%;
}
div.folha1 {
  position: absolute;
  top:40px;
  left:40px;
  width: 150px;
  height: 150px;
  background-image: url(../_imagens/secao09-folha1.png);
  background-repeat: no-repeat;  
}

div.camarao {
  position: absolute;
  top:250px;
  left:0px;
  width: 150px;
  height: 150px;
  background-image: url(../_imagens/secao09-camarao.jpg);
  background-repeat: no-repeat;  
}
div.folha2 {
  position: absolute;
  top:500px;
  left:50px;
  width: 150px;
  height: 150px;
  background-image: url(../_imagens/secao09-folha2.png);
  background-repeat: no-repeat;  
}
div.folha3 {
  position: absolute;
  top:80px;
  left:20;
  width: 160px;
  height: 150px;
  background-image: url(../_imagens/secao09-folha3.png);
  background-repeat: no-repeat;  
}
div.tomate {
  position: absolute;
  top:300px;
  left:100;
  width: 160px;
  height: 150px;
  background-image: url(../_imagens/secao09-tomate.png);
  background-repeat: no-repeat;  
}
div.queijo  {
  position: absolute;
  top:500px;
  left:10;
  width: 160px;
  height: 150px;
  background-image: url(../_imagens/secao09-queijo.jpg);
  background-repeat: no-repeat;  
}
div#domingo-perfeito-centro {
  width: 65%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
}

div#pontos-chaves-mestre {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
  
}

div.pontos-chaves {
  text-align: center;
  width:25%;
}

section#domingo-perfeito div.pontos-chaves ion-icon{
  width:75px;
  height: 75px;
  color: #F03733;


}

/* ------------------------*/
/*Seção - Pizzaa           */
/* ------------------------*/

section#pizza {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(../_imagens/secao10-background-secao-pizza.jpg);
  background-size: cover;
  height: 80vh;

  padding: 40px 0 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

div#opcoes-mestre {
  width:80%;
  margin-top:30px;

  display: flex;
  flex-flow: row wrap;
}

div.pizza-opcoes {
  width: 33.3%;
  text-align: center;
  margin: 5px 0;

}


/* --------------------*/
/*Secção Depoimento    */
/* ---------------------*/

section#testemunha {
  width: 100%;
  padding: 40px 0 80px 0;
  background-image:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.8),rgba(255,255,255,1)), url(../_imagens/secao11-background-secao-depoimento.png);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
 
  }

div#testemunha-mestre {
  width:100%;
  height: 300px;
  margin-top:90px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
div#testemunha-esquerda, div#testemunha-direita {
  width:15%;
  height:300px;  
}
div#testemunha-mestre ion-icon {
  width: 90%;
  height: 90%;
  color: #F03733;
}
div#testemunha-esquerda ion-icon {
  opacity: 0.5;
}
div#testemunha-centro {
  width:70%;
  margin: 0 auto;
  height:300px;
  position: relative;

  max-width: 1010px;
  overflow: hidden;

}
div#testemunhos {
 position: absolute;
 left:0;
 width: 2680px;
}

section#testemunha div#testemunha-centro div#testemunhos ul {
  display: inline-table;
  width: 300px;
  background-color: white;
  padding: 30px;
  margin:50px 15px;
  border-radius:20px;
  border: 1px solid #ccc;
  text-align: center;
  
}
section#testemunha div#testemunha-centro div#testemunhos ul li {
  list-style: none;
  display: inline-table;
  width: 90%;
  margin:0;

}
section#testemunha div#testemunha-centro div#testemunhos ul h5{

}
section#testemunha div#testemunha-centro div#testemunhos ul p {
  line-height: 1.5;
  color: #404040;
  font-size:90%;

}

section#testemunha div#testemunha-centro div#testemunhos ul img {
  width:40%;
  border-radius:100%;
  margin-top: -80px;
  margin-bottom:20px;
  border: 5px solid #f03733

}

/* --------------------*/
/*Secção - Transição   */
/* --------------------*/

div#transicao-testemunho-plano{
  width:100%;
  height: 280px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
div#transicao-testemunho-plano div#decoracao1{
  width:30%;
  height:100%;

  background-image: url(../_imagens/secao13-tomate-manjericao-alho.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
div#transicao-testemunho-plano div#decoracao2{
  width:30%;
  height:100%;

  background-image: url(../_imagens/secao13-azeite.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
div#transicao-testemunho-plano div#decoracao3{
  width:30%;
  height:100%;

  background-image: url(../_imagens/secao13-detalhe-tomate.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}