/*
Tipografia
font-family: 'Frederick the Great' , cursive;
font-family: 'Open Sans' , sans-serif;
font-family: 'Pacifico' , cursive;

Cores 

Verde Escuro :#055902
Verde Claro :#078C31
Amarelo: #F2B705
Vermelho escuro:#D90404
vermelho Claro:#F03733
Cinza Claro:#f7f7f7
cinza escuro: #404040
*/

*{
  font-size: 16px;
}

h1, h2, h3{
  font-family: 'Fredericka the Great' , cursive;
  text-align: center;
  text-transform: uppercase;
  color: #D90404;
}

h4, h5, h6 {
  font-family: 'Pacifico' , cursive;
  text-align: center;
  color:  #F2B705;
}

h1 {
  font-size:600%;
  font-weight:200;
}

h2 {
  font-size:400%;
  font-weight:200;
  
}

p,li,a {
  font-family: 'Open Sans' , sans-serif;
  color: #404040
}

p.destaque {
  font-size:130%;
  line-height:1.8;
  font-weight: 300;

  text-align: center;
  width: 60%;
}

/* --------------------*/
/*Elementos do Header */
/* ---------------------*/

header div#chamada h1 {
  color: #fff;
  text-shadow: 4px 6px 10px #000;
  animation-name: headerH1-moverParaDireita;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

header div#chamada h4 {
  font-size:200%;
  text-shadow: 4px 6px 10px #000;

  margin-bottom: 55px;
  animation-name: headerH4-moverParaEsquerda;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

header div#chamada a{
  font-size: 110%;
  color: white;
  text-decoration:none;
  font-weight:600;

  padding: 20px 80px;
  border-radius: 50px;

  background: linear-gradient(rgba(7, 140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);

}

/* --------------------*/
/*Elementos do Section */
/* ---------------------*/

section div#domingo-perfeito-centro h2:after {
  display: block;
  background-color:#078c31;

  height: 5px;
  width: 20%;
  margin: 20px auto 30px;content: " ";

}
div.pontos-chaves h4 {
  color: #404040;  
}
div.pontos-chaves h4:after {
  display: block;
  background-color:#078c31;

  height: 5px;
  width: 30%;
  margin: 20px auto 10px;content: " ";

}

/* ------------------------*/
/*Seção - Pizzaa           */
/* ------------------------*/
section#pizza h2:after {
  display: block;
  background-color:#078c31;
  height: 5px;
  width: 20%;
  margin: 20px auto 30px;content: " ";

}

section#pizza p {
  color: white;
  width: 40%;
}

section#pizza ul li {
  color: white;
  list-style: none;
  line-height:1.9;
  font-size:90%;
  text-transform: uppercase;
}

/* --------------------*/
/*Secção testemunho    */
/* ---------------------*/
section#testemunha h2:after {
  display: block;
  background-color:#078c31;

  height: 5px;
  width: 20%;
  margin: 20px auto 30px;content: " ";

}

section#testemunha p.destaque {
  width: 40%;
  background-color: white;
}
/* --------------------*/
/*Secção - planos   */
/* --------------------*/

section#plano-principal h2:after {
  display: block;
  background-color:#078c31;

  height: 5px;
  width: 20%;
  margin: 20px auto 30px;content: " ";

}
section#plano-principal h4 {
  color: #D90404;  
}
section#plano-principal ul {
  margin-top: 25px; 
}
section#plano-principal ul li {
  font-size: 85%;
  text-align: left;
  margin-left: 30px;
  line-height: 2;
  text-decoration: none;
}

section#plano-principal div.planos-bottom p {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding:30px;
}

/* --------------------*/
/*    FOOTER           */
/* --------------------*/
footer div#info ul {
  margin-left: 15px;
  margin-bottom: 150px;
}

footer div#info li {
  list-style: none;
  color: #fff;
  margin-bottom: 5px;

}