/*
Tipografia
font-family: 'Frederick the Great' , cursive;
font-family: 'Open Sans' , sans-serif;
font-family: 'Pacifico' , cursive;

Cores 

Verde Escuro :#055902
Verde Claro :#078C31
Amarelo: #F2B705
Vermelho escuro:#D90404
vermelho Claro:#F03733
Cinza Claro:#f7f7f7
cinza escuro: #404040
*/