/*animação do titulo*/

@keyframes HeaderH1-moverParaDireita{
    0%{
        opacity: 0;
        transform: translateX(-75px);
    }
    70%{
       
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes HeaderH4-moverParaEsquerda{
    0%{
        opacity: 0;
        transform: translateX(75px);
    }
    70%{
       
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes HeaderH4-moverParaCima{
    0%{
        opacity: 0;
        transform: translateY(30px);

    }

    100%{
        opacity: 1;
        transform: translateY(0);

    }

}